body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/run.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
}

header {
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
}

header > nav > ul {
  float: right;
  position: relative;
  bottom: 93px;
  font-family: 'Permanent Marker', cursive;
  font-size: 27px;
  margin-right: 15px;
}

header > nav > ul > li {
  display: inline;
  list-style-type: none;
  margin-right: 30px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #3772FF;
  text-shadow: 1px 1px #333;
}

header > nav > ul > li > a:hover {
  text-decoration: none;
  color: #FF0060;
  transition: color 1s;
}

main {
  margin-top: 80px;
}

#signin {
  width: 535px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 18px #FF0060;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ccc;
}

#signin h1 {
  font-size: 30px;
  padding: 20px;
}

#signin h1 span {
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

#signin h3 {
  font-size: 17px;
  margin-bottom: 15px;
}

#signin hr {
  border: 1px solid rgb(55,114,255,0.4);
}

#name {
  height: 160px;
  width: 300px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

#name label {
  font-size: 25px;
}

#name input {
  width: 100%;
  height: 30px;
  font-size: 15px;
}

#name input {
  margin-top: 15px;
  margin-bottom: 15px;
}

#name button {
  background-color: #3772FF;
  color: white;
  padding: 7px 20px;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
}

#logo{
  width: 150px;
  position: relative;
  top: 5px;
  left: 25px;
}

.card {
  box-shadow: 5px 10px 18px #888888;
  width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
  background-color: white;
  box-shadow: 5px 10px 18px #FF0060;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 100px;
}

.card form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  background-color: #eee;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 10px;
}

.card form label {
  margin-right: 5px;
}

.card h2 {
  font-size: 35px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.card h3 {
  font-size: 20px;
  text-decoration: underline;
}

.card > h4 {
  font-size: 35px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.card form label:first-child {
  font-size: 20px;
  margin-top: 15px;
  text-decoration: underline;
}

.card form input.distance-input {
  width: 100%;
  height: 30px;
  font-size: 15px;
}

.card form input.distance-input {
  width: 97%;
  height: 30px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card form input[name=hours], .card form input[name=minutes] {
  width: 30%;
  height: 30px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card form input[name=hours] {
  margin-right: 25px;
}

.card button {
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #3772FF;
  color: white;
  padding: 7px 20px;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
}

.chart-box {
  width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#profile2 {
  text-align: center;
  width: 200px;
  display: inline-block;
}

#profile2 p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#profile2 h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#profile2 img {
  width: 87%;
  margin-bottom: 10px;
}

#profile1 img {
  width: 40%;
  margin-bottom: 10px;
}

#profile1 #words {
  display: inline-block;
  width: 334px;
  position: relative;
  bottom: 72px;
  left: 19px;
  border-radius: 10px;
  text-align: center;
  background-color: #eee;
  height: 200px;
  padding: 19px 0px;
}

#profile1 #words p {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 28px;
}

#profile1 #words h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

#form-box {
  width: 610px;
  padding: 20px;
  height: 260px;
}

#form-box p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

#form-box button {
  width: 40%;
}

#new-track-form {
  width: 320px;
  padding: 24px;
  float: right;
  margin-top: 10px;
  margin-right: 12px;
  margin-bottom: 0px;
}

#new-track-form label {
  text-decoration: none;
  font-size: 16px;
}

#new-track-form input {
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

#new-track-form select {
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

#new-track-form button {
  width: 100%;
}

#footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0px;
  background-color: black;
  padding: 10px;
  color: white;
  text-align: right;
}

#footer h2 {
  margin-right: 40px;
}

.runners img {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: -1;
}

/* Modal Styling Starts */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(55,114,255,0.4);
}

/* Modal Content */

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 25px;
  width: 50%;
  color: black;
  box-shadow: 5px 10px 18px #FF0060;
  font-size: 30px;
  text-align: center;
}

.modal-content > h1 {
  text-align: center;
  font-size: 50px;
  border-color: black;
  font-family: 'Permanent Marker', cursive;
}

.modal-content > h2 {
  text-align: center;
  font-size: 25px;
  border-color: black;
  font-family: 'Permanent Marker', cursive;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-content hr {
  border: 1px solid rgb(55,114,255,0.4);
}

.modal-content li img {
  margin-bottom: 20px;
}

.close {
  color: red;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Model Styling End */